

<meta charset="utf-8">
<meta name="description" content="This is a page which is used for handling a home-automation-system 
                                    which consits of nodes (they collect Informations or activate things like ligth) 
                                    and a gateway which communicates with the RFM69 Transceiver.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/basic_style.css">
<link rel="stylesheet" type="text/css" href="../css/template_style.css">
<title id="title">RFM Gateway</title>

