
/******** liste der neuen nodes oben ********/

.new-nodes-list ul {
  list-style-type: disc;
  display: inline-block;
  text-align: left;
}

.new-nodes-list ul li{
  margin: 10% 0;
  cursor: pointer;
  text-decoration: underline;
}

.new-nodes {
  margin-top: 2%;
  text-align: center;
}

.new-nodes h1{
  margin-bottom: 1%;
  text-align: center;
  font-size: 2rem;
}

.new-nodes-configuration,
.new-nodes-div,
.gateway-config {
  margin: 2rem;
}


/******** tabellen beide ********/


.new-nodes-configuration table,
.new-nodes-div table,
.gateway-config table{
  margin: 1rem auto;
  border: 0.2rem black;
  border-collapse: collapse;
  word-wrap: break-word;
  width: 70vw;
  max-width: 1000px;
  border-collapse: collapse;
}



table caption.gateway,
table caption.new-nodes,
table caption.node{
  background-color: #203864;
  color: #d8d6d6;
  font-size: 2.5rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

table caption.gateway .text,
table caption.new-nodes .text,
table caption.node .text {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table caption.gateway .caption-box,
table caption.new-nodes .caption-box,
table caption.node .caption-box {
  margin: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

table caption.node,
table caption.new-nodes,
table caption.gateway {
  border-top-color: #203864;
  border-left-color: #203864;
  border-right-color: #203864;
}

.change-name-icon, 
.delete-icon {
  cursor: pointer;
}

caption img {
  width: 2rem;
  height: auto;
  margin: 0.3rem;
}




.categories,
.intern-categories {
  background-color: #5a5757;
  color: #dedede;
}

table.new-nodes-table th, 
table.new-nodes-table td,
.new-nodes-configuration th, 
.new-nodes-configuration td,
.gateway-config th, 
.gateway-config td {
  border: 0.12rem solid black;
  padding: 0.4rem;
  width: 50%;
  white-space: normal;
}

table.new-nodes-table th, 
table.new-nodes-table td{
  width: calc(100% / 3);
}

table.new-nodes-table tbody tr:nth-child(even),
.new-nodes-configuration .table-body tr:nth-child(even),
.gateway-config .table-body tr:nth-child(even) {
  background-color: #e3e6f6;
}

table .intern-table-body tr:nth-child(odd) {
  background-color: #ffffff;
}

.new-nodes-configuration .intern-table-body tr:nth-child(even) {
  background-color: #e3e6f6;
}


[data-cell="name"] {
  font-size: 1.5rem;
  font-weight: bold;
}


[data-cell="name"] .name-cell {
  margin: 0.5rem;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

[data-cell="name"] .name-cell .led {
  cursor: pointer;
}

[data-cell = "name"] .text{
  margin-right: 0.3rem ;

}

[data-cell = "name"] img{
  width: 1.5rem;
  height: auto;
  margin: 0.2rem;
}

.unit_input_field, 
.input-cell {
  text-align: center;
  margin-right: 0.3rem;
  font-size: 1rem;
}

.input-cell input,
.unit_input_field input {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  /* margin-left: 1rem; */
  /* margin-right: 2rem; */
  border-radius: 0.6rem;
  max-width: 60%;
  min-width: 6rem;
}

.intern-table .input-cell input,
.intern-table .unit_input_field input {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  /* margin-left: 1rem; */
  /* margin-right: 2rem; */
  border-radius: 0.6rem;
}

.input-cell {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.unit-input-cell {
  /* width: 60%; */
}

.intern-table .unit {
  font-size: 0.75rem;
}


/******** hier steht das information i.info ********/


/* .left-row */
.left-row .table-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center; */
}

.left-row .table-flex-container .intern-table table{
  width: 100%;
  font-size: 0.75rem;
  white-space: nowrap;
}

.left-row .left-cell{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.left-row .left-cell .text-expand{
  margin-left: auto;
}

.left-row .table-flex-container .text-expand{
  margin-left: auto;
}

.left-row p .configuration-text {
  margin-left: auto;
}

.left-row .left-cell .configuration-text {
  margin-left: auto;
}

.left-row .table-flex-container .configuration-text {
  margin-left: auto;
}

/* .left-row .info-expand i{
  margin-left: auto;
} */

.left-row .text-expand i{
  margin-right: 0.5rem;
}

.left-row .gateway-text {
  margin-left: auto;
}

.left-row i.info{
  margin-left: auto;
}

.left-row i.info {
  font-family: "Font Awesome 6 Free";
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 900; 
  content: '\f05a';
  /* margin-right: 0.25rem; */
  color:  #203864;
  position: relative;
}

.left-row .text-expand i {
  font-family: "Font Awesome 6 Free";
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 900; 
  /* content: '\f05a'; */
  /* margin-right: 0.25rem; */
  color:  #203864;
  position: relative;
}

.left-row {
  position: relative;
}

i{
  font-style: normal;
}

.left-row i.info:hover{
  color: #727171; 
  cursor: pointer; 
  /* display: block; */
} 

.left-row .text-expand i:hover{
  color: #727171; 
  cursor: pointer; 
} 




@-webkit-keyframes showTooltip {
  from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes showTooltip {
  from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes showTooltip {
  from {opacity: 0;}
    to {opacity: 1;}
}

.left-row .tooltip{
  position: absolute; 
  display: none;
  flex-direction: column;
  padding: 0.5em 0.3rem;
  color: black;
  background-color: #cecece;
  width: calc(100% - 2.05rem);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  text-align: left;
  border-radius: 0.1rem;
  margin-right: 2.05rem; /*padding of .new-nodes-configuration th, td: 0.75rem & font-size of .left-row i.info: 1.3rem = 2.05rem*/
  margin-left: -8px;
  z-index: 9999;
  min-height: 100%;
}

.left-row .tooltip .head{
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.left-row .tooltip .subtitle{
  font-size: 0.85rem;
}


.left-row i.info:hover + .tooltip {
  display: flex;
  -webkit-animation: showTooltip 0.35s ease-in-out;
  -moz-animation: showTooltip 0.35s ease-in-out;
  animation: showTooltip 0.35s ease-in-out;
}

/******** hier steht der switch toggle ********/


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2a3761;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2a3761;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/******** dropdown menu for reset ********/


td .middle-cell, 
td .right-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  height: 100%;
  align-content: center;

}

.reset-node .right-cell {
  width: auto;
  height: auto;
  /* background-color: #243865; */
  display: inline-flex;
  /* border-radius: 0.6rem; */
  /* border: 0.1rem solid #5a5757;  */
  /* padding: 0.3rem */
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0.2rem 0.5rem;
  border: 0.1rem solid #5a5757; 
  border-radius: 0.6rem;
  background-color: #283866;
}

.custom-dropdown select {
  background-color: #243865;
  color: #d8d6d6;
  font-size: 1rem;
  padding-right: 0.5em;
  border: 0;
  margin: 0.3rem;
  text-overflow: '';
  cursor: pointer;
}

.custom-dropdown select:focus {
  outline: none;
}

.send-button i {
  font-family: "Font Awesome 6 Free";
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 0 0.6rem;
}

.send-button .send-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.3rem;
}

.send-button {
  border: 0.1rem solid black;
  cursor: pointer;
  background: #243865;
  border-radius: 0.6rem;
  /* border: 30rem; */
  border-color: #5a5757;
  font-family: Arial;
  margin: 0 0.5rem;
  color: #d8d6d6;
  font-size: 1rem;
  /* padding: 0.3rem; */
  text-decoration: none;
  flex-wrap: nowrap;
  display: flex;
  /* align-content: center; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.send-button:hover {
  background: #5775bb;
  background-image: -webkit-linear-gradient(top, #5775bb, #243865);
  background-image: -moz-linear-gradient(top, #5775bb, #243865);
  background-image: -ms-linear-gradient(top, #5775bb, #243865);
  background-image: -o-linear-gradient(top, #5775bb, #243865);
  background-image: linear-gradient(to bottom, #5775bb, #243865);
  text-decoration: none;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-out {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.config-send-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.config-send-button .send-button {
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  background-color: #248000;
}

.config-send-button .send-button:hover {
  background: #44db08;
  background-image: -webkit-linear-gradient(top, #44db08, #248000);
  background-image: -moz-linear-gradient(top, #44db08, #248000);
  background-image: -ms-linear-gradient(top, #44db08, #248000);
  background-image: -o-linear-gradient(top, #44db08, #248000);
  background-image: linear-gradient(to bottom, #44db08, #248000);
  text-decoration: none;
}

.custom-dropdown select.mode-selec option:hover {
  background-color: #c0c0c0;
  
}


/* *
*
*
*
*
*
*
* */
/*********** here own dropdown info menu **********/
/* *
*
*
*
*
*
*
* */

/* .own-info-dropdownMenu  table{
  position: absolute;
  /* position: absolute; *
  /* top: 100%; *
  left: 1rem;
  z-index: 1;
  /* display: none; *
  /* padding: 0; *
  /* margin: 0; *
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;

  margin: 0 auto;
  border: 0.1rem black;
  border-collapse: collapse;
  word-wrap: break-word;
  /* max-width: 50%; */
  /* width: 70vw; */
  /* max-width: 1000px; *
  border-collapse: collapse;
} */

/* 

select option {
  position: relative;
}

.info-dropdown select option::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900; 
  content: '\f05a';
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
    line-height: 1.3rem;
} */