/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


main {
  flex: 1;
}

.hide {
  display: none !important;
}

footer {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #203864;
    height: 4rem;
    padding: 2%;
    color: white;
    font-size: 2rem;
    display: flex;
}

footer .version {
  text-align: left;
  order: 0;
  flex: 1;
}

footer .date {
  text-align: right;
  order: 1;
  position: relative;
  display: block;
  width: auto;
}