

  .nodes{
    margin: 2.5rem 0;
  }

  .node-header img{
    width: 2rem;
    height: auto;
    cursor: pointer;
  }
  
  .node-header,
  .gateway-header p{
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    /* cursor: pointer; */
  }

  .node-body{
    font-size: 2rem;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* grid-template-rows: repeat(5, 1fr); */
  }

  .card{
    border: 0.1rem solid black;
    margin: 1rem;
    display: grid;
    /* //https://de.wikipedia.org/wiki/Goldener_Schnitt */
    grid-template-columns: 38.2% 61.8%;
    /* grid-template-columns: 37.2% 2% 60.8%; */
    object-fit: cover;
    font-size: 1rem;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    border-radius: 3rem;
  }


  .deko, .digSens{
    grid-template-columns: unset;
  }

  .node-body .empty{
    border: unset;
  }

  .card p{
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    max-height: 5rem;
    font-weight: bold;
  }
  
  .black{
    height: 100%;
    width: 2px;
    background-color: #000;
    margin: auto;
    display: none;
  }

.info-image img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.value-text {
  /* background-color: #5a5757; */
  /* color: #dedede; */
}

/* .node-body i {
  font-family: "Font Awesome 6 Free";
  /* font-size: 1.3rem;
  line-height: 1.3rem; */
  /* font-weight: 900; */
  /* content: '\f1d8'; */
  /* margin-right: 0.25rem; */
  /* color: #203864; */
  /* position: relative; */
/* }     */

 .node-body .value-text {
  font-size: 2rem;
}

/*
.last-value-updated {
  grid-area: first;
}

.temperature {
  grid-area: second;
}

.humidity {
  grid-area: third;
}

.rssi {
  grid-area: fourth;
}

.battery {
  grid-area: fifth;
}

.digital-input {
  grid-area: sixth;
}

.deco-lighting {
  grid-area: seventh;
}

.distance {
  grid-area: eighth;
}

.I2CMeter {
  grid-area: ninth;
}

.MBusOrSmartmeter {
  grid-area: tenth;
} */

/* .pulse {
  grid-area: ninth;
} */

/* .consumption {
  grid-area: first;
} */

/* .pulse {
  height: auto;
  max-width:  100%;
}

.distance {
  height: auto;
  max-width:  100%;
}

.consumption {
  height: auto;
  width: 5rem;
  max-width: 100%;
}

.humidity {
  height: auto;
  width: 5rem;
  max-width: 100%;
}

.rssi {
  height: auto;
  width: 5rem;
  max-width: 100%;
}

.digital-input {
  height: auto;
  width: 5rem;
  max-width: 100%;
} */

/* die areas auch ändern mit JS -> entsprechend der menge -> kann man ja sicher abfragen */
@media screen and (width < 792px) {
  .node-body{
    grid-template-columns: repeat(1, 100%);
    /* grid-template-rows: repeat(11, 1fr); */
    /* grid-template-areas:
                            'first'
                            'second'
                            'third'
                            'fourth'
                            'fifth'
                            'sixth'
                            'seventh'
                            'eighth'
                            'ninth'
                            'tenth'
                            'eleventh' */
  }

  .empty {
    display: none;
  }

  /* .last-card {
    grid-area: eleventh;
  } */

  .card {
    max-width: 470px;
  }

  .node-body {
    max-width: calc(470px);
    text-align: center;
    align-self: center;
    margin: 0 auto; /* Zentrierung */
  }

/* 
  @media screen and (width >= 550px) {
    .node-body{
      justify-items: center;
    }
  
    .card {
      width: 70vw;
    }
  
  } */
  

}



@media screen and (width >= 792px) and (width < 1300px) {
  .node-body{
    grid-template-columns: repeat(2, 50%);
    /* grid-template-rows: repeat(6, 1fr); */
    /* grid-template-areas:
                            'first second'
                            'third fourth'
                            'fifth sixth'
                            'seventh eighth'
                            'ninth tenth'
                            'eleventh twelfth' */
  }

  /* .last-card {
    grid-area: eleventh;
  } */

  .empty {
    display: none;
    /* grid-area: twelfth; */
  }

  .card {
    max-width: 470px;
  }
  .node-body {
    max-width: calc(470px*2);
    text-align: center;
    align-self: center;
    margin: 0 auto; /* Zentrierung */
  }

  
}


@media screen and (width >= 1300px){
  .node-body{
    grid-template-columns: repeat(3, 33.3%);
    /* grid-template-rows: repeat(4, 1fr); */
    /* grid-template-areas:
                            'first second third'
                            'fourth fifth sixth'
                            'seventh eighth ninth'
                            'tenth eleventh twelfth'; */
  }

  /* .last-card {
    /* grid-column: 2; */
    /* grid-area: twelfth; */
  /* } */

  .empty {
    display: none;
    /* grid-area: eleventh; */
  }
  /* .empty_1 {
    grid-area: eleventh;
  } */

  /* .last-card {
    grid-area: twelfth;
  } */

  /* .empty_2 {
    grid-area: eleventh;
  } */

  .card {
    max-width: 470px;
  }
  .node-body {
    max-width: calc(470px*3);
    text-align: center;
    align-self: center;
    margin: 0 auto; /* Zentrierung */
  }
}

/* .last-value-updated p.info-image{
  font-size: 1.5rem;
  text-align: center;
  word-wrap: break-word;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  max-height: 5rem;
  flex-grow: 0;
} */

