/* inspiration: https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */
/* https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */

nav {
  background: #203864;
  /* padding: 0 15px; */
}

nav a {
    color: #d8d6d6;
    text-decoration: none;
  }

.menu,
.submenu {   
    list-style-type: none;
}


.logo {
  font-size: 2rem;
  padding: 2%;
}

.item {
  padding: 1%;
}

.item a:hover, 
.logo a:hover, 
.item a:hover::after,
.toggle a i:hover {
    color: #706e6e;
}

/* Submenu */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 900; 
  content: "\f078";
  color: white;
  padding-left: 5%;
}

.subitem a {
  padding: 7% 10%;
}

.submenu-active {
  background-color: #111;
  border-radius: 3px;
}



/* style for phone (small size) */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 0.4rem 0.4rem;
  font-size: 1.5rem;
}

.menu li.subitem a {
  padding: 1rem;
  font-size: 1rem;
}

.toggle {
  order: 1;
  font-size: 1rem;
  padding: 2%;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.active-nav {
  color: #bdc7f3
}







@media screen and (min-width: 800px) {

  .menu {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: none;
    height: 4rem
  }

  .menu li a {
    display: block;
    padding: 14% 1%;
    font-size: 1.5rem;
  }

  .logo {
    order: 0;
    flex: 1;
    text-align: left;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .submenu-active .submenu {
    display: block;
    text-align: initial;
    position: absolute;
    left: 0;
    top: 3.9rem;
    background: #111;
    width: 100%;
    z-index: 9999;
  }

  .submenu-active:hover {
    pointer-events: all;
  }

  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }

  .last-item{
    padding-right: 1.5rem;
  }
}



